In [81]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")
from sklearn.metrics import mean_absolute_percentage_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Loading the Dataset

In [65]:
df = pd.read_csv("Real estate.csv")
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [66]:
df.head()

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

In [68]:
# Dropping the index column
df.drop('No',axis=1,inplace=True)

KeyError: "['No'] not found in axis"

In [69]:
df

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...
409,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [70]:
# Checking for null values
df.isna().sum()

X1 transaction date                       0
X2 house age                              0
X3 distance to the nearest MRT station    0
X4 number of convenience stores           0
X5 latitude                               0
X6 longitude                              0
Y house price of unit area                0
dtype: int64

In [72]:
# checking for duplicated values
df.duplicated().sum()

0

In [73]:
# separating label and X
df_num=df.drop('Y house price of unit area',axis=1)
y=df[['Y house price of unit area']]

In [74]:
# Standardizing the data

ss=StandardScaler()
X=ss.fit_transform(df_num)
X=pd.DataFrame(X,columns=df_num.columns)
X

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,-0.823683,1.255628,-0.792495,2.007407,1.125430,0.448762
1,-0.823683,0.157086,-0.616612,1.667503,0.912444,0.401139
2,1.541151,-0.387791,-0.414015,0.307885,1.486860,0.688183
3,1.246435,-0.387791,-0.414015,0.307885,1.486860,0.688183
4,-1.121951,-1.117223,-0.549997,0.307885,0.834188,0.592937
...,...,...,...,...,...,...
409,-0.528967,-0.352637,2.378365,-1.391638,-2.216993,-1.927835
410,-1.711384,-1.064493,-0.788071,1.667503,0.427579,0.635341
411,0.358734,0.095568,-0.549678,0.987694,0.822893,0.423972
412,-0.528967,-0.844784,-0.776684,0.307885,-0.184755,0.476814
413,1.246435,-0.985398,-0.788071,1.667503,0.427579,0.635341

In [75]:
X.shape,y.shape

((414, 6), (414, 1))

In [76]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state= 42)

In [86]:
X_train.shape,X_test.shape,y_train.shape,y_test.shape

((289, 6), (125, 7), (289, 1), (125, 1))

In [87]:
X_test

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,y_pred
358,0.064017,-1.459968,-0.706261,0.647789,-0.267851,0.491167,49.466667
350,-0.528967,-0.396579,-0.469349,0.307885,-0.313030,0.261531,36.500000
373,-0.234250,-1.556639,-0.642457,-1.051734,0.465497,-0.180778,43.933333
399,-0.823683,-0.440521,-0.724868,-1.051734,0.377560,-0.229706,40.333333
369,-1.711384,0.218605,0.873597,-0.371925,-0.468736,-1.369403,25.333333
...,...,...,...,...,...,...,...
268,0.951718,-0.045046,-0.549997,0.307885,0.834188,0.592937,54.533333
148,1.246435,-0.115352,2.139249,-1.391638,-2.912424,-1.391584,22.100000
16,0.358734,-1.556639,-0.627398,0.647789,0.678483,0.731892,62.666667
66,-0.528967,-1.468756,-0.706261,0.647789,-0.267851,0.491167,51.833333
341,-0.528967,-0.414156,-0.264810,-0.711829,0.377560,1.053513,40.266667

# KNN REGRESSION FROM SCRATCH

In [79]:
# Function for knn-regression
def KnnReg(X_train, X_test, y_train, y_test,K=3):

    train=pd.concat([X_train,y_train],axis=1)
    test=pd.concat([X_test,y_test],axis=1)
    train.shape,test.shape
    test=test.set_index(keys=np.arange(0,len(test)))
    train=train.set_index(keys=np.arange(0,len(train)))
    dist=[]
    t=0
    k=K

    # finding the distance of test record from train records
    for i in range(test.shape[0]):
        distances_for_i = []
        for j in range(train.shape[0]):
            total=0
            for c in range(train.shape[1]-1):
                total+=(test.iloc[i,c]-train.iloc[j,c])**2
            d=np.sqrt(total)
            distances_for_i.append(d)
        dist.append(distances_for_i)

    # selecting y having  k min distances

    predictions = []
    for i in range(len(dist)):
        distances_for_i = dist[i]
        indices = np.argsort(distances_for_i)[:k]
        near_y_labels = [train.iloc[j, -1] for j in indices]
        y_hat = np.mean(near_y_labels)
        predictions.append(y_hat)

    # concating predicted value into the test data
    X_test['y_pred']=predictions
    return X_test

In [83]:
KnnReg(X_train, X_test, y_train, y_test,3)

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,y_pred
358,0.064017,-1.459968,-0.706261,0.647789,-0.267851,0.491167,49.466667
350,-0.528967,-0.396579,-0.469349,0.307885,-0.313030,0.261531,36.500000
373,-0.234250,-1.556639,-0.642457,-1.051734,0.465497,-0.180778,43.933333
399,-0.823683,-0.440521,-0.724868,-1.051734,0.377560,-0.229706,40.333333
369,-1.711384,0.218605,0.873597,-0.371925,-0.468736,-1.369403,25.333333
...,...,...,...,...,...,...,...
268,0.951718,-0.045046,-0.549997,0.307885,0.834188,0.592937,54.533333
148,1.246435,-0.115352,2.139249,-1.391638,-2.912424,-1.391584,22.100000
16,0.358734,-1.556639,-0.627398,0.647789,0.678483,0.731892,62.666667
66,-0.528967,-1.468756,-0.706261,0.647789,-0.267851,0.491167,51.833333
341,-0.528967,-0.414156,-0.264810,-0.711829,0.377560,1.053513,40.266667